.mobile-app-development-secrion {
  background-image: linear-gradient(
      to right,
      rgba(4, 4, 5, 0.493),
      rgba(7, 7, 7, 0.539)
    ),
    url("../img/mobile-app development-header.2d0a55982ceb60577184.png");

  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5px;

  margin-top: 120px;
}

.success-hero-secrion-1 {
  justify-content: center !important;
  align-items: center !important;
  /* border: 2px solid red ; */
  height: 75vh;
}

.success-hero-secrion-1 > div > h2 > a {
  text-decoration: none;
  color: #f6f9fd;
}
.bold {
  font-weight: bold;
}
.p-3 {
  text-align: justify;
  font-size: 16px !important;
  line-height: 32px;
  font-weight: 600;
}

.border {
  border: 2px solid red;
}

/* section 3 */
.aI-services {
  margin-bottom: 50px;
  padding-top: 50px;
}

.font-weight-bold-1 {
  font-weight: bold !important;
  color: #bc2026;
  margin-left: 15px;
}

/* Section 3  */

.ai-expert {
  padding-bottom: 30px;
}

/* OUR AI EXPERT SERVICES */
/* section 4 */

.about-page-background-image-1 {
  height: 200vh;
  background-image: url("../img/step-card-bg.d0a44c785dbb9a72d76d.png");
  background-size: cover;
  padding-top: 80px;
}

.box-2 {
  align-items: center !important;

  height: 450px;
  border: 3px solid #bc2026;
  border-radius: 5px;
  padding-top: 50px;
}

.custome-border-2 {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #bc2026;
  position: relative;
}
.card-body > h1 {
  line-height: 32px !important;
  /* padding-bottom: 20px; */
}
.card-text {
  margin-top: 30px;
}

/* Section 5  */

.text-justify {
  text-align: justify !important;
  font-size: 12px;
}

/* Section 06  */

.start {
  margin-top: 50px;
  height: 70vh;

  background-color: #f6f8fd;
}

.start>div>h1{
    margin-top: 30px;
}
.start>div>p{
    font-size: 17px !important;
    line-height: 40px;
}

/* section 07   */

.sEction-6 {
  margin-top: 50px !important;
}


/* .bmarign {
    margin-right: 280px !important;
  }
  
  .bmarign-1 {
    padding: 8px 35px;
    background-color: #bc2026;
    border: none;
    color: white;
    font-weight: bold;
    margin-right: 100px;
  } */